@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Share+Tech+Mono&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    min-height: 100vh;
    background-image: url(/images/mathieu-chirico-sFSZuKI2CvY-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-family: owners;
    font-size: 34px;
    color: #C4C7C0;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

@font-face {
    font-family: diatype;
    src: url(/fonts/ABCDiatypeMono-Regular-Trial.woff2);
}

@font-face {
    font-family: owners;
    src: url(/fonts/Owners-MediumBeta.woff2);
}

.navbar a {
    font-family: diatype;
    font-weight: 400;
    position: relative;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: #C4C7C0;
    margin-left: 40px;
    letter-spacing: 1px;
}


.navbar a:hover::before {
    width: 100%;
}

#atext {
    font-family: owners;
    margin-left: 300px;
    margin-top: 250px;
    font-size: 100px;
    position: absolute;
}

#ttext {
    font-family: owners;
    margin-left: 1150px;
    margin-top: 450px;
    font-size: 100px;
    position: absolute;
}

#stext{
    font-family: owners;
    margin-left: 300px;
    margin-top: 650px;
    font-size: 100px;
    position: absolute;
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: black;
}

.links:hover {
    color: white;
    text-overflow: initial;
    text-decoration: none;
    text-emphasis-color: black;
    text-decoration-color: black;
}