@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Share+Tech+Mono&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    min-height: 100vh;
    background-image: url(/images/000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: black;
}

.logo {
    font-family: owners;
    font-size: 34px;
    color: #C4C7C0;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

@font-face {
    font-family: diatype;
    src: url(/fonts/ABCDiatypeMono-Regular-Trial.woff2);
}

@font-face {
    font-family: owners;
    src: url(/fonts/Owners-MediumBeta.woff2);
}

.navbar a {
    font-family: diatype;
    font-weight: 400;
    position: relative;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    color: #C4C7C0;
    margin-left: 40px;
}

.navbar a::before {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 3px;
    transition: .3s;
    background: #fff;
}

.navbar a:hover::before {
    width: 100%;
}

.aboutus {
    position: absolute;
    margin-left: 250px;
    margin-top: 420px;
}


.sponsors {
    position: absolute;
    margin-top: 420px;
    margin-left: 700px;
}

.team {
    position: absolute;
    margin-top: 420px;
    margin-left: 1150px;
}

#aboutus {
    position: absolute;
    margin-top: 420px;
    margin-left: 250px;

}